body{
  margin: 0;
}

#header{
  background-color: #003366;
}

#section1{
  position:absolute;
     top: 11%;

     width:682.5px ;
     height:23em;
     margin-top:10px;
     margin-left: 10px;
     margin-left: 10px;
     border: 1px solid #ccc;
     background-color: lightblue;
     opacity:0.8 ;
      filter: alpha(opacity=40);

}
#section1:hover{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 0 1px rgba(20, 20, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #003366;
}
#section2{
  position:absolute;
     top: 11%;
     left: 69%;
     width:341.25px;
     height:17em;
     margin-top:10px;
     margin-left: -15em;
     border: 1px solid #ccc;

     opacity:0.6 ;
      filter: alpha(opacity=40);

      background-color:grey ;
      background-image: url("Custom-Icon-Design-Pretty-Office-3-Edit-Male-User.ico") ;
      background-repeat: no-repeat;
      background-size: 130px;
      cursor: auto;

}
#section2:hover{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 0 1px rgba(20, 20, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #003366;
  opacity:1;
   filter:alpha(opacity=100);
}
div{
  color:white;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 90px;
  margin-top: 180px;
  font-


}

#section3{
  position:absolute;
     top: 11%;
     left: 94.5%;
     width:300px;
     height:17em;
     margin-top:10px;
     margin-left: -15em;
     border: 1px solid #ccc;

     opacity:0.8 ;
      filter: alpha(opacity=40);
      background-color: green;;

}
#section3:hover{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 0 1px rgba(20, 20, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #003366;
  opacity:1;
   filter:alpha(opacity=100);

}
#section4{
  position:absolute;
     top: 54.5%;
     left: 69%;
     width:341.25px;
     height:17em;
     margin-top:10px;
     margin-left: -15em;
     border: 1px solid #ccc;

     opacity:0.8 ;
      filter: alpha(opacity=40);
      background-color: green;;

}
#section4:hover{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 0 1px rgba(20, 20, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #003366;
  opacity:1;
   filter:alpha(opacity=100);

}

#section5{
  position:absolute;
     top: 54.5%;
     left: 94.5%;
     width:300px;
     height:17em;
     margin-top:10px;
     margin-left: -15em;
     border: 1px solid #ccc;

     opacity:0.8 ;
      filter: alpha(opacity=40);
      background-color: green;;

}
#section5:hover{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 0 1px rgba(20, 20, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #003366;
  opacity:1;
   filter:alpha(opacity=100);

}
