body{
	background-color: #f1f1f1;
}
.nav-main{
	/* position: fixed; */
/* top:11%; */
width:100%;
height:50px;
background-color: #fff;
display: flex;
flex-wrap: wrap;
z-index: 1000;
background-color: #f3f3f3;

}
.btn-toggle-nav{
	width: 60px;
	height: 100%;
	background-color: #003366;
	background-image: url('menu-512.png');
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: center;
	cursor: pointer;

}
.btn-toggle-nav:hover{
	opacity: 0.5;
}
.nav-main ul{
display: flex;
flex-wrap: wrap;
background-color: #f3f3f3;
}
.nav-main ul li{
list-style: none;
line-height: 60px;


}
.nav-main ul li  a{
display: block;
color: #666;
text-align: center;
height: 90%;
padding: 0 8px 5px;
margin-bottom: 5px;
text-decoration: none;
color:#111;
font-family: arial;
font-size: 16px;


}
.nav-main ul li  a:hover:not(.active){
  background-color: #ddd;


}
.nav-main ul li  a.active{
	color: white;
	background-color: #003366;


}

.nav-sidebar{
	/* position: fixed; */
	
	top:19%;
	bottom:40%;
	width:272px;
	padding: 0 5px;
	height: calc(100vh - 80px);
	background-color: #003366;
	z-index: 1000;

	float:left;


}
.nav-sidebar ul {

padding-top: 15px;
overflow: hidden;
/* visibility: hidden; */
transition:  all 0.3s ease-in-out;
}

.nav-sidebar ul li {
line-height: 60px;
list-style: none;


}
.nav-sidebar ul li a, .nav-sidebar ul li span{
	display: block;
	height:60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
	font-family: arial;
	font-size: 16px;
	white-space: nowrap;
	/* opacity: 0; */
	transition:  all 0.3s ease-in-out;

}
.nav-sidebar ul li span{
	opacity:0.6;
}
.nav-sidebar ul li a:hover{
	background-color: #222;

}




.nav-sidebar ul li a.active {
    color: white;
    background-color: #7b8ce0;
		padding-right:0;
}
nav-sidebar ul li span{

	display: block;
	height:60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
	font-family: arial;
	font-size: 80px;
	font-weight: bold;
	white-space: nowrap;
	opacity: 0.9;
	transition:  all 0.3s ease-in-out;

}
.fieldset .previous   {
  text-decoration: none;
  display: inline-block;
  margin-top: 150px;
  padding: 8px 16px;
  margin-left: 450px;

}

.fieldset .previous :hover {
  background-color: #ddd;
  color: black;
}

.fieldset .previous {
  background-color: #f1f1f1;
  color: black;
}

.fieldset .next {
    background-color: #003366;
    color: white;
    text-decoration: none;
      padding: 8px 16px;
}
